<a href="#shoppingList/view/{{ name }}">
    <div class="sidebar-label">
                <span class="uk-text-left color-label"
                      style="background-color: {{ color }}; color: {{ color }}">_</span>
        {{ name }}
        <span class="uk-badge uk-badge-notification uk-float-right">{{ itemCount }}</span>
    </div>
</a>
